{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>SaúdeMap Itapetinga</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />
    
    <link rel="stylesheet" href="{% static 'css/painel.css' %}?v=19.0">
</head>
<body>

  <header class="top-bar">
    <div class="logo">
        <a href="/" class="logo-link">
            <i class="bi bi-heart-pulse-fill text-danger fs-3"></i> <div>
                <h1>SaúdeMap</h1>
                <small>Localizador Itapetinga/BA</small> </div>
        </a>
    </div>

    <div class="top-bar-actions">
      <button onclick="abrirSobre()" class="sobre-btn">
        <i class="bi bi-info-circle"></i> Sobre
      </button>

      <div class="colab-actions">
        {% if user.is_staff %}
          <span class="user-badge"><i class="bi bi-person-check-fill"></i> {{ user.username }}</span>
          <a href="{% url 'logout' %}" class="user-btn logout-btn"><i class="bi bi-box-arrow-right"></i></a>
        {% else %}
          <a href="{% url 'login' %}" class="user-btn login-btn"><i class="bi bi-person-badge-fill"></i></a>
        {% endif %}
      </div>
    </div>
  </header>

  <section class="stats">
    <div class="card">
      <div class="icon-box red"><i class="bi bi-hospital"></i></div>
      <h2>{{ total_hospitais }}</h2><p>Hospitais</p>
    </div>
    <div class="card">
      <div class="icon-box blue"><i class="bi bi-capsule"></i></div>
      <h2>{{ total_farmacias }}</h2><p>Farmácias</p>
    </div>
    <div class="card">
      <div class="icon-box orange"><i class="bi bi-buildings"></i></div>
      <h2>{{ total_postos }}</h2><p>Postos/UPAs</p>
    </div>
  </section>

  <section class="filters">
    <div class="search-container">
        <i class="bi bi-search"></i>
        <input type="text" id="input-busca-main" placeholder="Buscar local..." onkeyup="filtrarPorNomeMain()">
    </div>
    <button class="active filter-btn" onclick="filtrar('todos', this)"><i class="bi bi-geo-alt"></i> Todos</button>
    <button class="filter-btn" onclick="filtrar('HOSP', this)"><i class="bi bi-hospital"></i> HOSP</button>
    <button class="filter-btn" onclick="filtrar('FARM', this)"><i class="bi bi-capsule"></i> FARM</button>
    <div class="filters">
    <button id="btn-limpar-rota" class="filter-btn" onclick="limparRota()" 
            style="display:none; background: #fee2e2; color: #dc2626; border: none; font-weight: bold;">
        <i class="bi bi-x-circle-fill"></i> Limpar Rota
    </button>
</div>
    
    <button onclick="localizarUsuario()" class="gps-btn">
    <i class="bi bi-crosshair"></i>
</button>
    <button id="btn-limpar-rota" class="clear-route-btn" onclick="limparRota()" style="display:none;"><i class="bi bi-x-circle-fill"></i></button>

    <div class="scan-control">
        <label class="switch">
            <input type="checkbox" id="check-scan" checked onchange="toggleScan()">
            <span class="slider"></span>
        </label>
    </div>
  </section>

  <div id="map-container">
      <div id="map-loader">Buscando pontos...</div>
      <div id="map"></div>
  </div>

  <div id="overlay" class="overlay" onclick="fecharSidebar()"></div>
  <aside id="sidebar-locais" class="sidebar">
    <div class="sidebar-header">
      <h3 id="sidebar-titulo">Resultados (<span id="contador-locais">0</span>)</h3>
      <button onclick="fecharSidebar()"><i class="bi bi-x-lg"></i></button>
    </div>
    <div id="modo-lista" class="modo-sidebar">
      <ul id="lista-locais"></ul>
    </div>
    <div id="modo-detalhes" class="modo-sidebar" style="display: none;">
      <div id="detalhes-local" class="detalhes-container"></div>
    </div>
</aside>

  <div id="modal-sobre" class="modal-sobre">
    <div class="modal-sobre-content">
        <div class="modal-sobre-header">
            <h3>Sobre o SaúdeMap</h3>
            <button onclick="fecharSobre()"><i class="bi bi-x-lg"></i></button>
        </div>
        <div class="modal-sobre-body">
            <div class="sobre-item">
                <label><i class="bi bi-people"></i> Equipe do Projeto</label>
                <div class="equipe-lista">
                    <div class="membro-equipe">
                        <span class="membro-nome">Almerinda Araújo Rocha - DevOps & Gerente de Projetos</span>
                        <div class="membro-contatos">
                            <a href="https://github.com/AlmerindaEstudo" target="_blank" class="membro-contato-link github"><i class="bi bi-github"></i></a>
                            <a href="mailto:almerindagomes388@gmail.com" class="membro-contato-link email"><i class="bi bi-envelope-at-fill"></i></a>
                        </div>
                    </div>
                    <div class="membro-equipe">
                        <span class="membro-nome">Breno Oliveira - Front-end</span>
                        <div class="membro-contatos">
                            <a href="https://github.com/brenogomespdev" target="_blank" class="membro-contato-link github"><i class="bi bi-github"></i></a>
                            <a href="mailto:brenopires137@gmail.com" class="membro-contato-link email"><i class="bi bi-envelope-at-fill"></i></a>
                        </div>
                    </div>
                    <div class="membro-equipe">
                        <span class="membro-nome">Crístian Batista Souto - Back-end & DevOps</span>
                        <div class="membro-contatos">
                            <a href="https://github.com/Cristian2023220" target="_blank" class="membro-contato-link github"><i class="bi bi-github"></i></a>
                            <a href="mailto:cristiansouto2019@gmail.com" class="membro-contato-link email"><i class="bi bi-envelope-at-fill"></i></a>
                        </div>
                    </div>
                    <div class="membro-equipe">
                        <span class="membro-nome">Diogo Carneiro Limeira - Front-end</span>
                        <div class="membro-contatos">
                            <a href="https://github.com/Cristian2023220" target="_blank" class="membro-contato-link github"><i class="bi bi-github"></i></a>
                            <a href="mailto:cristiansouto2019@gmail.com" class="membro-contato-link email"><i class="bi bi-envelope-at-fill"></i></a>
                        </div>
                    </div>
                    <div class="membro-equipe">
                        <span class="membro-nome">Roberto Guimarães Santos - Back-end</span>
                        <div class="membro-contatos">
                            <a href="https://github.com/robertog-santos" target="_blank" class="membro-contato-link github"><i class="bi bi-github"></i></a>
                            <a href="mailto:robertosantos17p@gmail.com" class="membro-contato-link email"><i class="bi bi-envelope-at-fill"></i></a>
                        </div>
                    </div>
                    <div class="membro-equipe">
                        <span class="membro-nome">Ryan Araújo Freitas - Front-end & Banco de Dados</span>
                        <div class="membro-contatos">
                            <a href="https://github.com/RyanFreitasDev25" target="_blank" class="membro-contato-link github"><i class="bi bi-github"></i></a>
                            <a href="mailto:ryan09688@gmail.com" class="membro-contato-link email"><i class="bi bi-envelope-at-fill"></i></a>
                        </div>
                    </div>
                    <div class="membro-equipe">
                        <span class="membro-nome">Silas Correia Silva - Front-end</span>
                        <div class="membro-contatos">
                            <a href="https://github.com/SilasCorreia8" target="_blank" class="membro-contato-link github"><i class="bi bi-github"></i></a>
                            <a href="mailto:silas8_silva@hotmail.com" class="membro-contato-link email"><i class="bi bi-envelope-at-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sobre-item">
                <label>Instituição</label>
                <p>IFBAIANO - Campus Itapetinga</p>
            </div>
            <div class="sobre-item">
                <label>Curso</label>
                <p>Bacharelado em Sistemas de Informação</p>
            </div>
            <div class="sobre-item">
                <label>Disciplina</label>
                <p>Prática Curricular de Extenção - PCE2</p>
            </div>
            <div class="sobre-item">
                <label>Professor Orientador</label>
                <p>Prof. Ms. Francisco Helio de Oliveira - Mestre em Informática</p>
            </div>
        </div>
        <div class="modal-footer">
            © 2026 SaúdeMap - Todos os direitos reservados.
        </div>
    </div>
  </div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
  
  <script>
    window.isUserStaff = "{% if user.is_staff %}true{% else %}false{% endif %}" === "true";
  </script>
  <script src="{% static 'js/painel.js' %}?v=17.0"></script>
</body>
</html>